[submodule "tmux"]
	path = tmux
	url = https://github.com/nverkhachoyan/tmux.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/nverkhachoyan/nvim.git
[submodule "zsh"]
	path = zsh
	url = https://github.com/nverkhachoyan/zsh.git
[submodule "plugins/zsh/zsh-autosuggestions"]
	path = plugins/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "plugins/zsh/zsh-autocomplete"]
	path = plugins/zsh/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete
[submodule "plugins/zsh/zsh-syntax-highlighting"]
	path = plugins/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
