[submodule "submodules/nvim"]
	path = submodules/nvim
	url = https://github.com/nverkhachoyan/nvim.git
[submodule "submodules/oh-my-zsh"]
	path = submodules/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
